*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*************      Login Page   *****************/
body{
    background: url(images/physicianLoginScreen.png) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}

.container{

    position: relative;
    margin-top: 10%;
    width: 460px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
    outline: black;

}

.label{

    padding: 20px 100px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
    white-space: nowrap;

}

.loginForm{

    padding: 20px 50px;
    
}
.loginForm .font{

    font-size: 19px;
    color: #130f40;
    margin: 5px 0;

}
.loginForm input{

    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;

}
.loginForm .font2{
    margin-top: 30px;
}
.loginForm button{
    
    margin: 40px 0 20px 15px;
    height: 45px;
    width: 325px;
    font-size: 20px;
    color:white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #22179a;
    border-radius: 3px;
    border: 1px solid #22179a;
    transition: .5s;
}
.loginForm button:hover{
    background: #3949AB;
}
.loginForm #noUsername,
.loginForm #noPassword{

    margin-top: 5px;
    width: 345px;
    font-size: 16px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;


}





/*************      Side Bar   *****************/

.userPFP {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
    
}

.sidebar {
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 120px;
    background-color: #12171e;
    padding: .4rem .6rem;
    transition: all 0.5s ease;

}
.sidebar.active ~ .main-content {
    left: 120px;
    width: calc(100% - 250px);
}
.sidebar.active {
    width: 250px;
}

.sidebar #button{
    position: absolute;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #button{
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 10px;
}

.user{
    display: flex; 
    align-items: center;
    margin: 1rem 1.1rem;
}
.user p {
    color: white;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}
.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    size: 100px;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 80px;
    text-align: center;
    height: 80px;
    border-radius: 12px;
    line-height: 80px;
    padding: 5px 5px;
    font-size:x-large;
}

.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    background-color: #ffffff;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}
.sidebar.active ul li .tooltip {
    display: none;
}




/*************      Dashboard Content   *****************/
.main-content {
    position: relative;
    background-color: #5ea9d2;
    min-height: 100vh;
    top: 0;
    left: 55px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.contain {
    display: flex;
    justify-content: space-between;
}

.main-content h1{
    color: #fff;
    font-size: 50px;
    
}